<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/css/styles")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <!--Start of facebook javascript SDK-->
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=563313847156850";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!--End of facebook javascript SDK-->
    <nav class="navbar navbar-default ">
        <!-- dummy navbar to ensure body contents are not hidden by navbar-->
    </nav>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container col-md-12">
            <div class="navbar-header col-md-2">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CAFE WITH L💗VE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Top 10", "Index", "Home")</li>
                    <li>@Html.ActionLink("Browse All Cafes", "Index", "CafeDetails")</li>
                    <li>@Html.ActionLink("Cafe Reviews", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Header</li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="active"><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li class="disabled"><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estates <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Header</li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="active"><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li class="disabled"><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="col-md-6">
                <div class="form-search search-only">
                    <i class="search-icon glyphicon glyphicon-search"></i>
                    @using (Html.BeginForm("Search", "CafeDetails", FormMethod.Get))
                    {
                        @Html.TextBox("searchInput", null, new { @class = "form-control", @placeholder = "Search for a cafe.." })
                    }
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Price <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Estates <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">KM <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <hr />
        </div>
    </div>
    <div class="container body-content">
        <div class="container col-md-12">
            <div class="col-md-9">
                @RenderBody()   <!-- PAGE CONTENT HERE-->
            </div>
            @{Html.RenderAction("_PopularSearchPartial", "Search"); }    <!-- i not sure if i have to split to folder -->
        </div>

        <hr />
        <footer>
            <h6>ABOUT CAFE WITH L💗VE</h6>
            <div class="footer-border">
                <span class="pull-left">
                    Copyright&copy; @DateTime.Now.Year - CAFE WITH L💗VE
                </span>
                <span class="pull-right col-md-3">
                    <a href="#" class="col-md-offset-2 col-md-4">Help</a>
                    <a href="#" class="col-md-6">Contact Us</a>
                </span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
