﻿@model IEnumerable<CafeWithLove.Models.CafeDetail>

@Scripts.Render("~/bundles/featuredcafes")

@foreach (var modellist in Model)
{
    <div class="col-md-3">
        <div class="thumbnail featured-cafe-thumbnail">
            <img class="img-rounded" src="@Url.Content(String.Format("~/Images/{0}", modellist.cafeLogo))">
            <div class="caption text-center">
                <h3>@Html.DisplayFor(modelItem => modellist.cafeName)</h3>
                <p>
                    @Html.DisplayFor(ModelItem => modellist.cafeDesc)
                </p>
                @Html.ActionLink("View Cafe Details", "Details", "CafeDetails", new { id = modellist.Id }, null)
            </div>
        </div>
    </div>
}