@model CafeWithLove.Models.OutletViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>Add a new outlet</h4>
        <hr />
        <!-- outlet details -->
        <h5>Outlet Details</h5>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CafeOutletVM.cafeId, new { id = ViewContext.RouteData.Values["cafeId"] })
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOutletVM.cafeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOutletVM.cafeAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOutletVM.cafeAddress, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOutletVM.cafePostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOutletVM.cafePostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOutletVM.cafePostalCode, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOutletVM.cafeContactNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOutletVM.cafeContactNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOutletVM.cafeContactNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>
    
        <!-- opening hours -->
        <h5>Opening Hours</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOpeningHourVM.monday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOpeningHourVM.monday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOpeningHourVM.monday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOpeningHourVM.tuesday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOpeningHourVM.tuesday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOpeningHourVM.tuesday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOpeningHourVM.wednesday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOpeningHourVM.wednesday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOpeningHourVM.wednesday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOpeningHourVM.thursday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOpeningHourVM.thursday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOpeningHourVM.thursday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOpeningHourVM.friday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOpeningHourVM.friday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOpeningHourVM.friday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOpeningHourVM.saturday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOpeningHourVM.saturday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOpeningHourVM.saturday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CafeOpeningHourVM.sunday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CafeOpeningHourVM.sunday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CafeOpeningHourVM.sunday, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Outlet" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    
<div>
    @Html.ActionLink("Back to List", "ManageCafes")
</div>