﻿@model ICollection<CafeWithLove.Models.OutletViewModel>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false&libraries=geometry"></script>
    <script type="text/javascript" src="~/Scripts/Map.js"></script>
    <style>
        #map-container {
            height: 450px;
        }
    </style>

    @{
    ViewBag.Title = "CAFE WITH L💗VE - " +ViewBag.Heading;
    var myboolean = true;
    }

    <!-- BROWSE ALL CAFES -->
    <h3 class="no-top-margin" style="display:inline-block;">@ViewBag.Heading</h3>
    <button type="button" class="btn btn-default add-15-bottom-margin add-15-left-margin active"><span class="glyphicon glyphicon-list"></span></button>
    <button type="button" class="btn btn-default add-15-bottom-margin"><span class="glyphicon glyphicon-map-marker"></span></button>

    @if (Model.Count() == 0)
    {
    //if nothing
    <h4>No Cafe</h4>
    myboolean = false;
    }
    else
    {

    myboolean = true;
    }

    <ul class="list-group">

        @if (myboolean == true)
        {
            foreach (var modellist in Model)
            {
            //var temp = Model.CafeDetailVM.Where(a => a.Id == item.cafeId).First();
            <li class="list-group-item">
                <div class="row">
                    <img class="img-rounded img-responsive col-md-2" src="@Url.Content(String.Format("~/Images/{0}", modellist.CafeDetailVM.cafeLogo))"/>
                    <div class="col-md-7" style="vertical-align: middle;">
                        <h5 class="no-bottom-margin no-top-margin">@Html.DisplayFor(modelItem => modellist.CafeDetailVM.cafeName)</h5>
                        <span class="label label-danger" style="">@Html.DisplayFor(modelItem => modellist.CafeOutletVM.numOfLike) ❤</span>
                        <p></p>
                        <p>
                            @Html.DisplayFor(ModelItem => modellist.CafeDetailVM.cafeDesc)
                        </p>
                        <p>
                            Category: @Html.ActionLink(modellist.CafeDetailVM.cafeCategory, "Search", "CafeDetails", new { searchInput = modellist.CafeDetailVM.cafeCategory }, null)
                        </p>
                        @Html.ActionLink("View Cafe Details", "Details", "CafeDetails", new { id = modellist.CafeOutletVM.cafeOutletId }, null)
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>Address</strong><br />
                            @Html.Raw(Html.Encode(modellist.CafeOutletVM.cafeAddress).Replace(",", "<br />").Replace(";", ""))<br />
                            Singapore @Html.DisplayFor(modelItem => modellist.CafeOutletVM.cafePostalCode)
                        </p>
                        <!--help~lol please i want to commit make it available to for me to presss loleerewrerwerwe-->
                        <!-- i changing alreadyyasdasdasdasdas-->
                        <!-- please i want to commit and leep lols-->
                        <!-- Button to trigger modal -->
                        <a class="openmodal" href="#mapmodals" role="button" data-toggle="modal" data-object="@ViewBag.JSON"
                           data-cafepostalcode="@modellist.CafeOutletVM.cafePostalCode" data-cafeaddress="@modellist.CafeOutletVM.cafeAddress"
                           data-cafelogo="@modellist.CafeDetailVM.cafeLogo" data-cafedesc="@modellist.CafeDetailVM.cafeDesc" data-cafename="@modellist.CafeDetailVM.cafeName">View On Map</a><br />
                        <!-- Modals -->
                        <div class="modal fade" id="mapmodals">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="title_id"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="map-container"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="close" data-dismiss="modal">Close</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </li>
            }
        }
    </ul>
    @if(!@User.IsInRole("Admin"))
    {
    <p>Can't find an existing cafe?</p>
    @Html.ActionLink("Suggest a cafe to be added to this page here.", "Create", "CafeSuggestions", null, null);
    }
